<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HEAD -->
  <%- include("./partials/head") %>
  <title>Alta de producto</title>
  <!-- Boostrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS -->
  <%- include("./partials/cssGeneral") %>
  <link rel="stylesheet" href="/stylesheets/cargaProducto.css">
</head>

<body>

  <!--HEADER-->
  <%- include("./partials/header") %>

  <!-- CODIGO -->
  <div class="container bg-color">
    <form action="/productos/editar/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="carga-archivo">
            <div class="form-group">
              <label for="text">NOMBRE</label>
              <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="text"
                placeholder="Ingrese el nombre" required value="<%= productToEdit.nombre %>">
            </div>

            <div class="form-group">
              <label for="precio">Precio</label>
              <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio"
                required value="<%= productToEdit.precio %>">
            </div>

            <div class="form-group">
              <label for="descripcion">Descripcion corta del Producto</label>
              <textarea class="form-control" id="descripcionCorta" name="descripcionCorta" rows="3"
                required><%= productToEdit.descripcionCorta %></textarea>
            </div>

            <div class="form-group">
              <label for="descripcion">Descripcion del Producto</label>
              <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
                required><%= productToEdit.descripcion %></textarea>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 opciones-carga-archivo">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="seleccionar-archivo" name="image" lang="es" required
              value="<%= productToEdit.image %>">
            <label class="custom-file-label" for="seleccionar-archivo">Imagen 350x200 px </label>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="seleccionar-archivo" name="imageGrande" lang="es" required
              value="<%= productToEdit.imageGrande %>">
            <label class="custom-file-label" for="seleccionar-archivo">Imagen pend x pend px</label>
          </div>
          <label class="vistaHome" for="">Tours en Home</label>
          <select name="vistaHome" id="vistaHome" class="form-input">
            <option value="buscados" <%= productToEdit.vistaHome == 'buscados' ? 'selected' : null %>>Buscados</option>
            <option value="recomendados" <%= productToEdit.vistaHome == 'recomendados' ? 'selected' : null %>>
              Recomendados</option>
            <option value="none" <%= productToEdit.vistaHome == 'none' ? 'selected' : null %>>No va en Home</option>
          </select>
          <br>
          <label class="categoria" for="">Categoría</label>
          <br>
          <select name="categoria" id="categoria" class="form-input">
            <option value="tours" <%= productToEdit.categoria == 'tours' ? 'selected' : null %>>Tours y Paseos </option>
            <option value="espectaculos" <%= productToEdit.categoria == 'espectaculos' ? 'selected' : null %>>
              Espectaculos y Entretenimiento</option>
            <option value="talleres" <%= productToEdit.categoria == 'talleres' ? 'selected' : null %>>Talleres y Clases
            </option>
            <option value="deporte" <%= productToEdit.categoria == 'deporte' ? 'selected' : null %>>Aventura y Deporte
            </option>
            <option value="arte" <%= productToEdit.categoria == 'arte' ? 'selected' : null %>>Arte y Cultura</option>
            <opGastronomia value="gastronomia" <%= productToEdit.categoria == 'gastronomia' ? 'selected' : null %>>
              Gastronomia</option>
              <option value="belleza" <%= productToEdit.categoria == 'belleza' ? 'selected' : null %>>Belleza y Salud
              </option>
          </select>

          <div class="botones">
            <button type="submit" class="btn btn-outline-success">Editar</button>

          </div>

        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 DELETE">
      <form action="/productos/eliminar/<%= productToEdit.id %>?_method=DELETE" method="POST"
        style="display: inline-flex">
        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
      </form>
    </div>
  </div>

  <!-- FOOTER -->
  <%- include("./partials/footer") %>

  <!--SCRIPT FOOTER-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/dc516cd5e4.js" crossorigin="anonymous"></script>

</body>


</html>