<!-- TODO SOLO PARA PRUEBAS, BORRAR PARA LA ENTREGA DEL 5ยบ SPRINT -->

<html>

<head>
  <!-- HEAD -->
  <%- include("./partials/head") %>

  <title>Categorias</title>

  <!-- BOOSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- CSS -->
  <%- include("./partials/cssGeneral") %>
  <link rel="stylesheet" href="/stylesheets/seccproductos.css">
</head>

<body>
  <!-- HEADER -->
  <%- include("./partials/header") %>

  <!-- CODIGO -->
  <!--TITULO ACTIVIDAD-->
  <div class="actividades-container">
    <div class="titulo">
      <h1> prueba sequelize
      </h1>
    </div>
  </div>


  <div class="container">

    <!--BOXES ACT-->
    <div class="row">
      <div class="alineacion-central">
        <% for (let i=0; i < tours.length; i++) { %>
          <li><%= tours[i].nombre %></li>
        <% } %>
      </div>
    </div>


  </div>
  <!-- FOOTER -->
  <%- include("./partials/footer") %>

  <!-- SCRIPT BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/dc516cd5e4.js" crossorigin="anonymous"></script>
</body>

</html>