<html>

<head>
  <!-- HEAD -->
  <%- include("./partials/head") %>

  <!-- BOOSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- CSS -->
  <%- include("./partials/cssGeneral") %>
  <link rel="stylesheet" href="/stylesheets/createAccount.css">
</head>

<body>
  <!-- HEADER -->
  <%- include("./partials/header") %>

  <!-- CODIGO -->
  <div class="container createAccount mx-auto">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Elimina tu cuenta</h5>
            <form class="form-signin" method="POST" action="/users/eliminar/<%= userToDelete.id %>?_method=DELETE">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" name="nombre" value="<%= userToDelete.nombre %>" required autofocus>
                <label for="inputUserame">Nombre</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputLastname" class="form-control" name="apellido" value="<%= userToDelete.apellido %>" required>
                <label for="inputLastname">Apellido</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" name="email" value="<%= userToDelete.email %>" required>
                <label for="inputEmail">Casilla de e-mail</label>
              </div>

              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="pass" value="<%= userToDelete.constraseña %>" required>
                <label for="inputPassword">contrasena</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" name="passconfirm" value="<%= userToDelete.constraseña %>" required>
                <label for="inputConfirmPassword">Confirmar contrasena</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Eliminar</button>
              <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <%- include("./partials/footer") %>

  <!-- SCRIPT DE bootstrap -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- SCRIPT DE ESTRELLAS -->
  <script src="https://kit.fontawesome.com/dc516cd5e4.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>