<html>

<head>
  <!-- HEAD -->
  <%- include("./partials/head") %>
  <title><%= title %></title>

  <!-- BOOSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- CSS -->
  <%- include("./partials/cssGeneral") %>
  <link rel="stylesheet" href="/stylesheets/wwus.css">
</head>

<body>
  <!-- HEADER -->
  <%- include("partials/header") %>
  <!-- FIN DEL HEADER -->

  <!-- CODIGO -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 com-sm-12 wwus">
        <h1>Trabajá con nosotros</h1>
        <p>BTours está creciendo y necesita empleados como tú, que les emocione el mundo de los viajes y que
          deseen unirse a un equipo joven y dinámico.
        </p>
        <h2>Empleos disponibles:</h2>
        <h3>Back office costumer care</h3>
        <h4>Funciones: Gestión y resolución de dudas, información a través de canales escritos, compra de
          tickets y resolución de incidencias que puedan surgir con las reservas con los diferentes
          proveedores y gestión y distribución de mails. </h4>
        <h3>Gestor/a telefónico</h3>
        <h4>Funciones: atención, asesoramiento y gestión de reservas a través de todos los medios de contacto
          (formulario web, mail, chat, rr.ss,...). </h4>
        <h3>Asesor y venta de actividades</h3>
        <h4>Nuestro equipo no para de crecer y buscamos personas con talento e ilusión por desarrollarse.
          Somos un equipo joven, multicultural e innovador que entiende cada día como un desafío y una nueva
          oportunidad para crecer junto con la empresa.</h4>
        <h3>Web analyst</h3>
        <h4>Si te emociona el mundo de los viajes y deseas unirte a una empresa en crecimiento con un equipo
          altamente cualificado, joven y dinámico ¡tenemos un puesto para ti!</h4>
        <h3>Full-Stack developer</h3>
        <h4>Si eres un programador apasionado y con talento, tienes mentalidad de "problem solver", inquietud
          por mejorar los sistemas desde el prisma de desarrollo y también del de negocio, te emociona el
          mundo de los viajes y deseas unirte a un equipo joven y dinámico ¡tenemos un puesto para ti!</h4>
        <h3>Brand manager</h3>
        <h4>¿Eres un apasionado de los viajes, la cultura y el ocio con ganas de participar en el crecimiento de
          la empresa Nº 1 en servicios turísticos en español? Nuestro equipo no para de crecer y buscamos
          personas con talento e ilusión por desarrollarse.</h4>
        <h3>Redactor de contenido</h3>
        <h4>Si te emociona el mundo de los viajes y deseas unirte a una empresa en crecimiento con un equipo
          altamente cualificado, joven y dinámico ¡tenemos un puesto para ti!</h4>
        <br>
        <br>
        <h3>Si creés que alguno de estos empleos es perfecto para tí envíanos un email con tu CV</h3>
        <p>En el asunto escribí para que puesto querrías ser seleccionado.</p>
        <p>Nuestro email de contacto con recursos humanos es <strong>btours-rrhh@gmail.com</strong></p>
      </div>
    </div>
  </div>

  <!-- FIN DEL CODIGO -->

  <!-- FOOTER -->
  <%- include("./partials/footer") %>
  <!-- SCRIPT DE BOOSTRAP -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <!-- SCRIPT DE ESTRELLAS -->
  <script src="https://kit.fontawesome.com/dc516cd5e4.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</html>